.VPAsearch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VPAsearch-text-box {
  text-align: center;
  margin: 60px 0px 20px 0px;
  max-width: 1000px;
}

.VPAsearch-tittle1 {
  color: rgb(0, 140, 255);
}

.VPAsearch-tittle2 {
  font-size: 19px;
  font-weight: 650;
  margin-bottom: 20px;
}
.VPAsearch-desc {
  margin: 10px 0px;
}
.VPAsearch-text {
  font-size: 16px;
}

.VPAsearch-link {
  margin: 10px 0px;
  cursor: pointer;
}
.VPAsearch-link:hover {
  color: red;
}

.VPAsearch-bar-box {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 50px;
}
.VPAsearch-dropdown-container {
  font-size: 15px;
}
.VPAsearch-dropdown {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
.VPAsearch-button {
  height: 40px;
  width: 150px;
  background-color: rgb(0, 140, 255);
  color: white;
  font-weight: 500;
  border: 1px solid rgb(0, 140, 255);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.4s ease;
  text-align: center;
  text-transform: uppercase;
}

.VPAsearch-button:hover {
  background-color: white;
  color: rgb(0, 140, 255);
  border: 1px solid rgb(0, 140, 255);
}
