.editP {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 7px;
  background-color: white;
  width: 900px;
}

.editPr__show-inf-box {
  margin: 30px 40px;
}

.editPr__show-inf-box hr {
  max-width: 100%;
}

.editPr__show-inf {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 15px 0px;
  font-size: 15px;
}

.editPr__show-inf-flex {
  display: flex;
  align-items: center;
}

.editPr__show-inf-item {
  width: 200px;
}

.editPr__show-inf-item-data {
  margin-top: 3px;
  font-weight: 600;
}

.editPr__box {
  display: flex;
  flex-direction: column;
  margin: 30px 40px;
  gap: 10px;
}

.editPr__box button {
  margin-top: 5px;
  max-width: 120px;
  padding: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0, 140, 255);
  border: 2px solid white;
  font-size: 13px;
  transition: background-color 0.4s, color 0.4s;
}

.editPr__box button:hover {
  background-color: rgba(255, 255, 255, 0.796);
  color: rgba(0, 132, 255);
  border: 2px solid rgba(0, 140, 255);
}

.editPr__change-Pic-box {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 20px;
}

.editPr__change-Pic-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.editPr__btn-pic label {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 110, 255);
}

.editPr__btn-pic label:hover {
  border: 2px solid rgb(0, 13, 250);
}

.editPr__divider {
  width: 1px;
  height: 150px;
  background-color: #000000;
}

.editPr__warning-pic p {
  font-size: 15px;
}

.editPr__input-item-container {
  display: flex;
  gap: 100px;
}

.editPr__input-item-container-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editPr__input-item {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  border: 1px solid gray;
  border-radius: 7px;
  max-width: 300px;
}

.editPr__input-item label {
  font-size: 12px;
}

.editPr__input-item input {
  font-size: 14px;
  border: none;
}
