.home {
  background-color: #f4f4f444;
}
.homeHeader {
  display: flex;
}

.homeSearch {
  flex: 1;
  margin: auto;
}

.homeSlider {
  flex: 1;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
